* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  background: $background;
  color: $text-color;
}

// .container {
//     color: $color;
//     font-size: 1.05em;
// }

.header {
    font-family: "Montserrat";
    font-size: 1.4em;
    padding: 20px 0;
    background: fade-out($background, 0.2);
    position: absolute;
}

.footer {
  padding: 10vh 0;
  text-align: center;
  color: $lighten-text-color;
  font-family: "Montserrat";
  font-weight: 100;
  font-size: 0.7em;
}
