.cover {
  height: 100vh;
  display: flex;
  align-items: center;

  color: $background;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url("assets/pexels-photo-511768.jpeg");
  background-size: cover;
  background-position: center;
  // background: red;

  .title {
    font-size: 1.8rem;
    font-weight: 900;
  }

  .subtitle {
    font-size: 1.2rem;
    font-weight: 100;
  }

  @include media-breakpoint-up(xs) {
    .title { font-size: 1.8rem; }
    .subtitle { font-size: 1.2rem; }
  }

  @include media-breakpoint-up(sm) {
    .title { font-size: 3rem; }
    .subtitle { font-size: 1.5rem; }
  }

  @include media-breakpoint-up(md) {
    .title { font-size: 5rem; }
    .subtitle { font-size: 2rem; }
  }

  .emph {
    // color: $brand-primary;
    font-style: italic;
  }
}

.features {

  margin-top: 40vh;

  .feature {
    margin-top: 20vh;

    .title h1,
    .title h2,
    .title h3,
    .title h4 {
      font-weight: 900;
      font-size: 2.5rem;
      border-bottom: 4px solid $black;
      padding-bottom: .5rem;
    }

    @include media-breakpoint-up(md) {
      .title h1,
      .title h2,
      .title h3,
      .title h4 {
        text-align: right;
        padding-right: 1.5rem;
        border-bottom: none;
      }

      .description {
        padding-left: 1.5rem;
        border-left: 5px solid $black;
      }
    }

  }

  .top-title {
    margin: 20vh 0;
  }

  .emph {
    font-weight: 900;
    font-size: 1.5rem;
  }

  .minus {
    // font-style: italic;
    // font-weight: 900;
    // color: rgb(250, 10, 50);
    color: $text-soft;
  }

}

.cac {
  font-size: 1.3em;
  font-weight: 900;
  border: 3px solid $text-color;
  padding: 1em 2em;
  transition: .3s;
  box-shadow: inset 0 0 0 0 $high;
  display: inline-block;

  &:hover {
    box-shadow: inset 0 -5em 0 0 $high;
  }
}
