$container-max-widths: (
  sm: 540px,
  md: 700px,
  lg: 700px,
  xl: 700px
);

$background: #ffffff;
$border: #e0e0e0;
$high: rgb(71, 255, 191);
$second: rgb(255, 0, 71);

$brand-primary:         #ff1741; // #ff4338
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #ff4338;
$text-color:            #333333;
$text-soft:             #998871;
$light-text-color:      #666666;
$lighten-text-color:    #999999;
$black:                 #000000;

$link-color:            inherit;
$link-decoration:       none;
$link-hover-color:      inherit;
$link-hover-decoration: none;

$link-background:       $brand-info;
