doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title= title
    meta(name="keywords" content=keywords)
    meta(name="description" content=description)
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel='stylesheet' type='text/css' href='styles/index.css')
    //- include /source/layouts/partials/favicon.pug
  body
    header.header
    block content
    footer.footer
      = "copyright © " + new Date().getFullYear() + " neighborhood"
    //- script
    //-   include /source/scripts/analytics.js
