@font-face {
  font-family: "EB Garamond";
  src: url("fonts/EBGaramond/EBGaramond.eot?") format("eot"),
       url("fonts/EBGaramond/EBGaramond.woff2") format("woff2"),
       url("fonts/EBGaramond/EBGaramond.woff") format("woff"),
       url("fonts/EBGaramond/EBGaramond.ttf") format("truetype");
}
