extends layouts/page.pug

block content
  .cover
    .container
      h1.title.
        Let's live.<br/>
        Together.<br/>
        Everywhere.
      h2.subtitle.
        <span class="emph">Neighborhood</span> is an open initiative to rethink our homes, our works, our lives and all the relations in between.

  .features
    .container  

      .top-title
        h2.text-center Manifesto.

      .feature.row
        .title.col-md-6
          h3 Let's live
        //- Work life balance, new ways of living, work is not the central part of life in some regard, but still is in others.

        .description.col-md-6
          p.emph.
            Life is about belonging.
          
          p.minus.
            Your life is probably stolen by a debilitating job, 8 hour a day, that you try to escape every evening.<br/>
            If not, society might try to make you feel like a parasite.
          
          p.
            Instead, work should be a mean to foster people, to accomplish incredible, beautiful projects together, and feel rewarded for it.
          //- Work should be a way of providing value to society, feeling rewarded by it, and identifying onself in it.
          
          p.emph.
            Work should revolves around life.<br/>
            Not the other way around.

      .feature.row
        .title.col-md-6
          h3 Together
        //- Community, home is where friends are. Villages proximity doesn't exist anymore. All strangers living in big city.

        .description.col-md-6
          p.emph.
            Home is where we belong.

          p.minus.
            We live in small cubicles.
            Stacked in debilitating buildings.
            Strangers to each others.
          
          p.
            We need to recreate a sense of community.
            And living together is the best way to get to know eachothers.
            Sharing breakfast and evening talks.
            
          p.emph.
            (Metropolitan) Proximity should foster people.<br/>
            Not alienate them.
          //- Break the walls of your tiny flat.
          

      .feature.row
        .title.col-md-6
          h3 Everywhere
        //- Travel, nomadism, meet culture and people, glbal village

        .description.col-md-6
          p.emph.
            Feel at home everywhere.
          //- You are awaited everywhere.
          //- You belong everywhere.

          p.
            There are so many cultures, people, homes waiting to meet you.
            You cannot miss these opportunities.
            
          //- p.
          //-   Travelling is the greatest of experiences.
          //-   It is about meeting cultures, and leaving your confort zone.
          //-   Let's do it every month, every week, everyday.
  
          p.emph.
            Moving from one place to another should be seamless.<br/>
            Every year, every month, every week.

      .feature
        .text-center
          a(href="mailto:neighborhood@etnbrd.com").cac.
            Let's talk !
        .text-center
          span or 
          a(href="manual.html").
            browse the work in progress
