extends layouts/page.pug

block content
  .container
    h1.title Initiative
    p.
      This initiative was sparkled by people who truly believe in these values, and want to see this project brought to life. No matter the place, time, creators, nor the means, we think it will eventually be.
    
    h2 Steps
    p.
      Here are the proposed step we will follow :
    
    ul
      li
        p.
          First, we aim at gathering a network of people interested to think about these ideas, and to dive into the experience. With their help, we should refine this manifesto, and continue on solid ground.

      li
        p.
          Then, we aim at building a framework to help and ease buying real estate collaboratively (with 3-10 peoples) in major countries and cities.
          This framework should contains:
        ul
          li all the legal documentations, and a guide to build the correct legal structures.
          li resources to help on the everyday life : furnish, arrange, decorate, organize, manage waste in the flat and so on ...
          li resources to help people live together : how to manage expenses, how to organize the chores, how to resolve conflicts, how to foster a community and bring people closer and so on ...
              
        p.
          With these resources, anyone could start to create little hubs : gathering a small community with whom to buy a flat and live. This could then constitute a network of hubs. And everyone in the network could live in any of these flat. Once one buy a share of a bought flat, it grants her a right to live in any of the flat in the network.

    h2 Requirements
    p.
      For this network to be as awesome as we imagine it, we believe it needs to be super easy to join and to leave, but at the same time, we shall ensure some quality in the members, the relationships between them, and the flats.
      This seems quite a challenge.

    p.
      We list here some requirements for the network.
      They might seem quite rigid or far-fetched, but it is only to ensure their consistency with a network of any size.
      We should keep in mind, that only people are important, and that common sense, openness and discussion can resolve almost any problem.
      Entering the network

    p.
      We need to make sure that the flats/people entering the network are good enough, so that the overall quality of the network doesn’t decrease in time.
      The main problem could be opportunists that use cheap flats as an entering ticket to the network, but immediately leave them for better flats in the network.
      To ensure this never happens, we suggest the following control to let applicants enter the network:
      Enough people from the network would like to live with the candidates. (What means enough ? a ratio of the total population ? a static threshold ?)
      Randomly selected people from the network would want to live in the flat. (People are more important than flats, but to keep balance in fluctuations, we need to ensure both)

    p.
      We propose the following process:
      ol
        li A team of integrators help arrange the flats, and teach the people to meet the requirements. This team will probably be the persons that are closer to the applicants.
        li A team of randomly selected testers (tasters) assess the viability of the project, and accept, or reject the application.
        li Huge party.

    p.
      We should keep in mind that 
      ul
        li People are the most important. If they prove they are motivated, and could bring human qualities to the network, flat quality should not be too much a drawback for their entering the network
        li The affinity will come well before all these steps. Applicants will most likely tie connections to people in the network before deciding to enter it.
        li The best assessor will always be good will and enthusiasm.

    p.
      We could as well offer rent for external people we would like to test the concept before diving into the experience.

    h3 Leaving the network
    p.
      If leaving the network is too much a challenge, nobody would want to join it.
      So leaving the network, for various legitimate reasons (build a family, change of lifestyle ...), should be as easy as possible.

    p.
      Potentially, there could be people willing to buy a share of a flat, without going through the process of building a hub.
      The person willing to leave the network could simply sell its share to the person willing to enter the network.
      The same requirements for the person entering would apply as to the “classical” applicants.

    p.
      Additionally, all the initial members of a hub could decide, for various legitimate reasons (financial or legal complications ...), to leave the network with their flat.
      
      
    h3 Growth of the network
    p.
      In other words, how to manage some consistency among the flats / members, while allowing for a rapid growth.
      If all the new flats are too awesome and overpriced, will the network keep united ? Maintenance fees could be too high to be sustained by other members. Or it could attract too much members in those flats, driving away members from other flats in such a way that the network would be unbalanced (see fluctuations).

    h3 Fluctuation
    p.
      One of the goal of this project is to allow members to travel around the world, without worrying about accommodations, nor integration.

    p.
      How to allow for the network to absorb fluctuations in the accommodations ?
      If too many people want to be in the same city at the same time, it will eventually crowd this city, and drain other parts of the network.

    p.
      The solution we propose is to provide one or two other rooms in each flat.
      A 10 people flat could contains 12 rooms, while a 5 people flat could contains 6 rooms, for example.
      These spare rooms could allow to absorb small fluctuations in the network, and allow for members to invite friends and family (guest rooms).

    p.
      No one room should be assigned to a specific member.
      However, the initial members of a flat should have some kind of priority to go back in their own flat.

    h3 Maintenance delegation
    p.
      As everyone in the network is constantly moving, it is very probable that the initial owners of a flat won’t be present anymore in it, but are dispersed in other flats of the network. It is important to initiate some sense of delegated ownership. You don’t live in the flat you bought, but other people are living in your flat, so by mean of the golden rule, if you don’t want them to screw your flat, don’t screw theirs.

    h3 Finances
    p.
      The members buy their share of their own flat, as a ticket to enter the network.
      Most of them will have a loan to repay instead of a rent.
      Additionally, members should participate in the service fees, comprising:
    ul
      li Local charges (water, electricity, taxes, insurances, cleaning ...)
      li Global maintenance provisions (some kind of insurance to mutualize the cost of fixing the stuffs that will eventually wear out)
      li Network maintenance & development fee (web hosting, events ...)
    
      
    h3 Limitations and unresolved questions

    ul
      li
        p.
          How to deal with different levels of hygiene, cleaning and confort expectations ?
          For everyone to be happy in its home, she should not have to fight for cleanliness, nor fight against chores.
          How to accomodate this ?
          Shall we hire a house cleaner ?
          Shall a home be advertised with its expected level of shallowness/cleanliness ?
          Shall we rely on the tolerance of the members ?
          Same goes for pets.

      li
        p.
          How to deal with different conception of life sharing, sleep cycles and so on ?
          Some wants to party until the end of the night, and live on caffeine the rest of the day.
          Some others sleep early, and start their day with the sun.
          Will these different lifestyle generate conflicts ?
          And if so, how to accomodate them ?
          There could be conflict or tensions due to noises (music, instruments, visitors, sex ...), or grumpiness due to out of sync rhythms (if there are dirty dishes on the table when you wake up early, you could hold grudge against the culprit late-sleeper).
          How to deal with couple, and other kinds of unions ?
          Is the network open for unions ?
          Does a couple own one, or two shares ?
          What about intimacy ?

    h3 Inspirations & other solutions
    
    ul
      li https://www.beroomers.com/
      li https://coliving.com/
      li http://chez-nestor.com/
      li https://www.thearrivers.com/
